@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

/* using this: */
/* https://github.com/frontaid/natural-selection */

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
Universal
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/* Apply styling to all elements (including their `::before` and `::after`
pseudo-elements). One common use of this selector is to apply a custom
`box-sizing`. */
*, *::before, *::after {
	font-family: "Raleway", sans-serif;
	font-weight: var(--font-weight-medium);
	font-size: var(--font-size-md);
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
Root
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

:root {
	background-color: var(--background);
	color: var(--foreground);
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
Content sectioning
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

h1, h2, h3, h4, h5, h6 {
	font-family: "Poppins", serif;
	font-weight: var(--font-weight-bold);
}
h1 {
	font-size: var(--font-size-3xl);

	@media (max-width: 768px) {
		font-size: var(--font-size-2xl);
	}
}
h2 {
	font-size: var(--font-size-2xl);
}
h3 {
	font-size: var(--font-size-xl);
}
h4 {
	font-size: var(--font-size-lg);
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
Inline text semantics
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

a {
	color: var(--foreground);
	text-decoration: underline var(--gray) 2px;
	transition: all 0.2s ease-in-out;
	width: fit-content;
	cursor: pointer;

	&:hover {
		text-decoration: underline var(--primary) 2px;
	}

	// if there's more than one child, add gap
	&:has(*) {
		display: flex;
		align-items: center;
		gap: var(--spacing-md);
	}
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
Forms
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

fieldset {
	border: none;
}

/* Overall styling, e.g. vertical spacing */
input, textarea, select, button {
	outline: none;
	border: var(--border-width) solid var(--gray);
	background-color: var(--background);
	color: var(--foreground);
	border-radius: var(--border-radius-full);
	padding: var(--spacing-md) var(--spacing-lg);
	transition: all 0.2s ease-in-out;
	display: inline-flex;
	align-items: center;
	gap: var(--spacing-sm);

	&:disabled {
		opacity: 0.6;
	}
}

/* `textarea` and `input` elements that share a similar look and similar styling
capabilities */
/* - common styling */
textarea,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="search"],
input[type="url"],
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="time"] {
	&:focus {
		border-color: var(--light-gray);
	}
}

button,
input[type="submit"] {
	cursor: pointer;
}
button:disabled,
input[type="submit"]:disabled {
	cursor: not-allowed;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
Interactive elements
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

dialog {
	/* Styles that can be set regardless of open/closed state */
	border: var(--border-width) solid var(--gray);
	border-radius: var(--border-radius-lg);
	background-color: var(--background);
	min-width: 150px;
	color: var(--text-color);
	padding: var(--spacing-xl);
	outline: none;

	.modal-actions {
		display: flex;
		gap: var(--spacing-md);
		margin-top: var(--spacing-lg);
	}
	/* DO NOT put display: flex here if you want it hidden by default */
}

dialog[open] {
	/* Styles to apply ONLY when the dialog is open */
	display: flex;
	flex-direction: column;
	gap: var(--spacing-md);
	/* Any other styles that should only apply when open */
}

dialog::backdrop {
	background-color: rgba(25, 25, 25, 0.75);
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
Media queries
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

@media (prefers-reduced-motion: reduce) {}

@media (prefers-color-scheme: dark) {}

@media (orientation: portrait) {}

@media (orientation: landscape) {}

@media print {}

/*
This file evolved from Natural Selection:
https://github.com/frontaid/natural-selection
*/
