:root {
	/* Colors */
	--foreground: #dfdfdf;
	--background: #191919;
	--gray: #3b3b3b;
	--light-gray: #a8a8a8;
	--primary: #0051e8;
	--primary-dark: #003dad;
	--destructive: #e7000b;
	--destructive-dark: #9d0007;

	/* Typography */
	--font-size-sm: 0.875em; // 14px
	--font-size-md: 1em; // 16px
	--font-size-lg: 1.25em; // 20px
	--font-size-xl: 1.5em; // 24px
	--font-size-2xl: 1.875em; // 30px
	--font-size-3xl: 3em; // 48px
	--font-weight-light: 400;
	--font-weight-medium: 600;
	--font-weight-bold: 700;

	/* Borders */
	--border-radius-full: 9999px;
	--border-radius-lg: 16px;
	--border-width: 3px;

	/* Spacing */
	--spacing-sm: 0.5rem;
	--spacing-md: 1rem;
	--spacing-lg: 1.5rem;
	--spacing-xl: 2rem;
	--spacing-2xl: 4rem;
}
