.input {
	padding: var(--spacing-md) var(--spacing-lg);
	border-radius: var(--border-radius-md);
	border: 2px solid var(--light-color-dark);
	transition: background-color 0.2s;
	transition: border 0.1s;
}

/* Sizes */
.input--sm {
	font-size: var(--font-size-sm);
	padding: var(--spacing-sm) var(--spacing-md);
	height: 2rem;
}

.input--md {
	font-size: var(--font-size-md);
	height: 2.5rem;
}

.input--lg {
	font-size: var(--font-size-lg);
	padding: var(--spacing-lg) var(--spacing-xl);
	height: 3rem;
}

.input--xl {
	font-size: var(--font-size-xl);
	padding: var(--spacing-xl) var(--spacing-2xl);
}

/* Focus */
.input:active,
.input:focus {
	border: 2px solid var(--primary-color);
	outline: none;
}

/* Icon */
.input svg {
	width: 1rem;
	height: 1rem;
	flex-shrink: 0;
}
